<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>Skeleton</title>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>

    </head>
    <body>
        <div class="container">
          <%= render partial: 'shared/flash' unless flash.empty? %>
          <%= yield %>
        </div>
    </body>
</html>

